@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&family=Courier+Prime:wght@400;700&family=Lato:wght@400;700&family=Nunito:wght@200;400&display=swap');

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  --font-family-serif: 'Cormorant Garamond', serif;
  --font-family-sans-serif-one: 'Lato', sans-serif;
  --font-family-sans-serif-two: 'Nunito', sans-serif;
	--font-family-mono:'Courier Prime', monospace;
  --font-size-small: 12px;


  --primary-color: rgba(5, 0, 255, 1);
  --gray: #2C2C2C;
  --white: #FFF;
  --dark-color: rgba(5, 0, 255, 0.2);

  --gradient-one: linear-gradient(26.87deg, rgba(5, 0, 255, 0.65) 1.9%, rgba(105, 142, 238, 0.2) 34.55%, rgba(105, 142, 238, 0.2) 34.56%, #FFEBCC 96.91%);;

  --header-bg: var(--gradient-one);

  --home-link-color: rgba(5, 0, 255, 1);
  --home-link-hover-color:  var(--primary-color);

  --button-color: #fff;
  --button-alternate-color: rgba(5, 0, 255, 0.65);

  --post-link-color: #0F070B;

  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0,0,0,0.5);

  --label-text: rgba(0,0,0,0.5);
  --input-focus-border: #83AAAC;
  
  // CSS Grid Utility
  --grid-gap: 30px; 

}